#viajes{
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	-webkit-flex-flow:row wrap;
}
.viajes-item{
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction:column;
}
.viajes-item img{
	order: -1;
	-webkit-order:-1;
}
.viajes-item button{
	margin:auto;
}
.uno{
	background-color: #bacee3;
	flex: 1;
	-webkit-flex:1;
	-webkit-order:3;
}
.dos{
	background-color: #b6ebb3;
	flex:1;
	-webkit-flex:1;
	-webkit-order:2;
}
.tres{
	background-color: #7ebdbb;
	flex:1;
	-webkit-flex:1;
	-webkit-order:1;
}